[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "bash ./scripts/dev.sh"

[packages]
django = "*"
django-tailwind = "*"

[dev-packages]

[requires]
python_version = "3.10"
